<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preco</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>
                        <a href="{% url 'produto' produto.id %}">
                            {{ produto.nome }}
                        </a>
                    </td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>