{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>{% block title %}Fusion{% endblock %}</title>
    {% include 'partials/header/_head.html' %}
</head>
<body>
    <!-- Header Area wrapper Starts -->
    {% include 'partials/header/_header404.html' %}
    <!-- Header Area wrapper End -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"
             id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include 'partials/_javascript.html' %}
</body>
</html>
