{% extends 'base.html '%}
{% block content %}
    <!-- Header Area wrapper Starts -->
    {% include 'partials/header/_header.html' %}
    <!-- Header Area wrapper End -->
    <!-- Services Section Start -->
    {% include 'partials/_services.html' %}
    <!-- Services Section End -->
    <!-- About Section start -->
    {% include 'partials/_about.html' %}
    <!-- About Section End -->
    <!-- Features Section Start -->
    {% include 'partials/_features.html' %}
    <!-- Features Section End -->
    <!-- Team Section Start -->
    {% include 'partials/_team.html' %}
    <!-- Team Section End -->
    <!-- Pricing section Start -->
    {% include 'partials/_pricing.html' %}
    <!-- Pricing Table Section End -->
    <!-- Testimonial Section Start -->
    {% include 'partials/_testimonials.html' %}
    <!-- Testimonial Section End -->
    <!-- Call To Action Section Start -->
    {% include 'partials/_calltoaction.html' %}
    <!-- Call To Action Section Start -->
    <!-- Contact Section Start -->
    {% include 'partials/_contact.html' %}
    <!-- Contact Section End -->
    <!-- Footer Section Start -->
    {% include 'partials/_footer.html' %}
    <!-- Footer Section End -->
{% endblock %}
